.UserForm {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    padding-bottom: 30px;
}

.UserInput {
    padding: 20px;
    font-size: 2em;
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 550px;
}

.ImageUpload {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    padding-top: 30px;
}
